body {
  /*padding: 0 30px;
  font-size: 16px;
  line-height: 26px;
    background: #ffffff;*/
  font-family: "Arial", sans-serif;
  color: #222222;
}

header{
    background-color: #4682B4;
}

footer {
  margin-top: 30px;
  padding-top: 10px;
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
}

.university-info{
    font-family: "Verdana";
    font-size: 16px;
    text-align: center;
}